.videoListGrid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.videoListGrid-item {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
}

.videoListGrid-item img {
    width: 100%;
    border-radius: 4px;
}

.videoListGrid-item h2 {
    color:#18191C;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
}

.videoListGrid-item p {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
}