.videoListGridContainer {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.pluginVideo {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
}

.pluginVideo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.pluginVideoInfo {
    flex-grow: 1;
}

.pluginVideoTitle {
    font-size: 18px;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 显示2行，后面省略 */
    overflow: hidden;
}

.pluginVideoDescription {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 显示2行，后面省略 */
    overflow: hidden;
    min-height: 38px;
}

.pluginVideoAuthor {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    cursor: pointer;
}
